  <div class="card mb-3" style="max-width: 80%; margin: 0 auto;">
    <div class="column">
      <div class="col-md-4 col-sm-8">
        <img [src]="oferta.imgUrl" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{oferta.nombre}}</h5>
          <p class="card-text">{{oferta.descripcion | slice:0:240}}</p>
          <span *ngFor="let skill of oferta.skills" class="badge badge-warning">{{skill}}</span>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
