<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <div class="circulo">
            <img src="https://placeimg.com/600/450/nature" alt="">
    </div> -->
    <div class="card">
        <div class="con-flex">
            <img src="https://placeimg.com/800/450/nature" alt="">
        </div>
        
        <h1>Título</h1>
        <h5>Subtitulo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reprehenderit omnis ad autem. Eos aliquid architecto perferendis laborum</p>
        <div class="con-flex">
            <button>1</button>
            <button>2</button>
        </div>
        
    </div>
    
</body>
</html>