<h2>Pipes</h2>

<div>
    <h3>{{nombreProducto | titlecase}}</h3>
    <p>{{descripcionProducto}}</p>
    <p>Precio: {{precio | doble:5:7 | currency: 'EUR' | currencyRight}}</p>
    <p>Comprado el {{fechaCompra | date: 'dd/MM/yyyy'}}</p>
    <h3>{{nombreProducto | reverse}}</h3>
   <p>{{descripcionProducto | hideWords:['unos', 'auriculares']}}</p> 
   <!--  {{nombreProducto | reverse }} =>string invertido
    {{precio | currencyRight }} => Mostrar simbolo de euro a la derecha
    => cambiar palabras por asteriscos (asterisco por letra)
 -->
</div>

<input type="text" name="" id="" placeholder="Filtro" (input)="txtFiltro = $event.target.value">
<input type="text" placeholder="Nueva Mascota" #inputMascota>
<button type="button" (click)="addMascota(inputMascota.value)">Añadir</button>
<ul>
    <li *ngFor="let mascota of mascotas">{{mascota}}</li>
</ul>
<ul>
    <li *ngFor="let mascota of mascotas | filtro:txtFiltro">{{mascota}}</li>
</ul>

<p>Mensaje: {{msg | async}}</p>